{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link href="{% static 'css/profile.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}
    <title>My Profile</title>
{% endblock %}



{% block content %}

{% if request.user.is_authenticated%}
    <p>Profile details for {{ user.first_name }}</p>
    {% if user.profile.avatar %}
        <div>
            <img src="{{ user.profile.avatar.url }}" height="150">
        </div>

    {% else %}
        <p>No avatar uploaded</p>
        <div>
            <img src="{% static 'default_avatar.png' %}" height="150">
        </div>

    {% endif %}


    <form method='post' enctype="multipart/form-data">
        {% csrf_token %}
        {{ profile_form.as_p }}
        <button type='submit', name="btn1">Update</button>



{% else %}
    <p>You are not authenticated. Please <a href='/users/login'>login</a></p>
{% endif %}


{% endblock %}
</html>