{% extends 'base.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/my_needs.css' %}">
{% endblock %}

{% block title %}
  <title>Need Details</title>
{% endblock %}



{% block content %}
<div class="page-content">
<div class="needs-container">
            <div class="need-box">
                {% if need.is_active %}
                    <li>
                        <div class="need-name">
                            <p>Name: {{ need.need.need.name }}</p>
                        </div>
                        <div class="need-name">
                            <p>Special: {{ need.is_special }}</p>
                        </div>
                        <div class="need-close">
                            <a href="{% url 'needs:remove' need.id %}"
                               onclick="return confirm('Are you sure you want to remove need ?')">X</a>
                        </div>

                        <p>Tag: {% for tag in need.need.tag.all %}
                                    {{ tag.name }}
                                {% endfor %}
                        </p>

                        {% if need.pending_list.exists %}
                            <p>Pending Friends: {% for friend in need.pending_list.all %}
                                <a href="{% url 'needs:confirm' need.id friend.id %}">
                                    {{ friend.first_name }}
                                    <img src="{{ friend.profile.avatar.url }}" width="20px" class="avatar-thumb">
                                    Confirm</a>
                            </p>
                            {% endfor %}
                        {% else %}
                            <p>No pending friends</p>
                        {% endif %}

                        {% if need.confirmed_with.exists %}
                        <p>Confirmed with: {% for friend in need.confirmed_with.all %}
                                    <img src="{{ friend.profile.avatar.url }}" width="20px" class="avatar-thumb">
                        {% endfor %}
                            </p>
                        {% else %}
                            <p>Not confirmed with anyone yet...</p>
                        {% endif %}
                        <div>
                            <progress min="1" max="5" value="{{ need.scale_check }}" class="progressbar"></progress>
                        </div>

                            <a href="{% url 'needs:reset' need.id %}">RESET</a>
                        {% if need.confirmed_with.exists and not need.ongoing %}
                            <a href="{% url 'needs:ongoing' need.id %}">Ongoing</a>
                        {% endif %}
                        {% if need.ongoing and not need.completed %}
                            <a href="{% url 'needs:completed' need.id %}">Mark as complete</a>
                        {% endif %}
                        {% if need.completed %}
                            Need Completed !
                        {% endif %}
                    </li>
                {% endif %}
            </div>
        </div>

</div>
{% endblock %}
